@use '../../styles/variables.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-height: 100vh;
  padding: 80px 30px;
  color: white;
  overflow-y: auto;
}

.action {
  display: flex;
  gap: 1rem;
}

.backButton {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 8px black;
  color: white;
  background: vars.$bg-dark-opaque;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 2px vars.$color-peach;
  }
}

.toggleFavoriteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 6px 10px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 8px black;
  color: white;
  font-size: 32px;
  font-weight: bold;
  background: vars.$bg-dark-opaque;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 2px vars.$color-peach;
  }

  &.add {
    color: rgb(68, 250, 68);
  }
  &.remove {
    color: rgb(235, 100, 100);
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .title {
    color: vars.$color-peach;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-shadow: vars.$text-shadow-black;
  }
}

.additional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 20px;
  box-shadow: 0px 2px 10px vars.$color-peach;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(31, 31, 46, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );

  .overview {
    padding: 20px 40px;
    font-size: 22px;
    line-height: 1.6;
    text-align: justify;
    color: white;
  }

  .runtime {
    font-size: 18px;
    .label {
      letter-spacing: 1px;
      text-transform: uppercase;
      color: vars.$color-peach;
    }

    .value {
      font-size: 22px;
      font-weight: 700;
      color: white;
    }
  }

  .genres {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 18px;

    .label {
      letter-spacing: 1px;
      text-transform: uppercase;
      color: vars.$color-peach;
      transform: translateY(-25%);
    }

    .value {
      margin-bottom: 10px;
      padding: 5px 10px;
      font-size: 22px;
      font-weight: 700;
      color: white;
      border-radius: 20px;
      background-color: vars.$bg-dark-opaque;
      transition:
        transform 0.2s ease,
        background-color 0.2s ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        transform: translateY(-2px);
      }
    }
  }
}
