@use '../../styles/variables.scss' as vars;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  max-width: 400px;
  height: 820px;
  padding: 10px 0px 20px;
  background: vars.$card-bg;
  border-radius: 12px;
  box-shadow: vars.$card-shadow;
  transition:
    transform 0.2s ease,
    box-shadow 0s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: vars.$card-hover-shadow;
  }
}

.starIcon {
  position: absolute;
  top: -25px;
  right: -25px;
  color: yellow;
}

.title {
  color: white;
  text-shadow: vars.$text-shadow-black;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  overflow-wrap: break-word;
  word-break: break-word;
}

.poster {
  width: 100%;
  flex: 1;
  overflow: hidden;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 80px;

  p {
    color: vars.$color-peach;
    text-shadow: vars.$text-shadow-black;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }

  .rating {
    font-weight: 600;
  }
}
