@use '../../styles/variables.scss' as vars;

.container {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}

.spinner {
  width: 80px;
  aspect-ratio: 1/1;
  border: 8px solid #9a979b;
  border-top: 8px solid vars.$color-aqua;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.loadingText {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
