@use '../../styles/variables.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  padding: 80px 0px;
}

.homeTitle {
  font-size: 48px;
  color: white;
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.featureCard {
  padding: 15px 30px;
  color: white;
  background: vars.$bg-primary;
}
