@use '../../styles/variables.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  min-height: 100vh;
  padding: 80px 0px;
}

.homeTitle {
  font-size: 52px;
  color: white;
  text-shadow: vars.$text-shadow-peach;
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.featureCard {
  flex: 0 0 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 15px 30px;
  color: white;
  text-align: center;
  background: vars.$bg-dark;
  border-radius: 30px;
  box-shadow: 0px 2px 10px vars.$color-peach;
  will-change: transform;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: vars.$card-hover-glow;
  }

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 20px;
  }
}
