@use '../../styles/variables.scss' as vars;

input {
  padding: 10px 15px;
  font-size: 20px;
  color: white;
  border: 4px solid vars.$color-peach;
  border-radius: 8px;
  background-color: vars.$bg-dark-opaque;
  outline: none;
  transition: border-color 0.3s ease;

  &::placeholder {
    opacity: 0.9;
  }

  &:focus {
    border-color: vars.$color-aqua;
  }
}
