.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: #4f46e5;
  background: linear-gradient(
    180deg,
    rgba(79, 70, 229, 1) 0%,
    rgba(102, 46, 191, 1) 100%
  );
}

.header h1 {
  color: white;
}
.nav {
  display: flex;
  gap: 1rem;
  font-size: 20px;
}

.link {
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: aqua;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  &.active {
    color: white;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    transform: scale(1.05);

    &::after {
      transform: scaleX(1);
    }
  }
}
