.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
}

.title {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.message {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
