@use '../../styles/variables.scss' as vars;

.container {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}

.title {
  color: red;
  font-size: 48px;
  font-weight: bold;
}

.message {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.retryButton {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border: none;
  border-radius: 30px;
  font-size: 32px;
  color: white;
  font-weight: bold;
  background: vars.$bg-primary;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 2px white;
  }
}
