.container {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}

.title {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.message {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
