@use '../../styles/variables.scss' as vars;

.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 20px 0px 30px;
  box-shadow: 0px 2px 10px vars.$color-peach;
  border-radius: 30px;
  background: vars.$bg-dark;
}

.title {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: vars.$color-peach;
}

.videoFrame {
  border: none;
  border-radius: 20px;
  box-shadow: vars.$card-shadow;
}
